
<div id="upper_nav">
  <ul _ngcontent-ejg-c4="" class="nav nav-tabs resource-list">

      <li class="nav-item">
          <a _ngcontent-ejg-c4="" [ngClass]='activeLiClass == "Match" ? "active" : ""' (click)='handleTabClick("assigned,opportunity,unassigned","__in", "Match")' class="nav-link" routerlink="user-brand"
            routerlinkactive="active" ng-reflect-router-link="user-brand">
            <img src="./assets/images/1.png">
              <div class="left_side">
                <span class="title">To Match</span>
                <article>
                  Leads that need properties matched to their needs
                </article>
              </div>
          </a>
      </li>

      <li class="nav-item">
        <a _ngcontent-ejg-c4="" [ngClass]='activeLiClass == "Follow" ? "active" : ""' (click)='handleTabClick("customerFeedbackReceived,customerScheduleRequested","__in","Follow")' class="nav-link" routerlink="edit"
        ng-reflect-router-link="user-brand">
          <img src="./assets/images/2.png">
          <div class="left_side">
            <span class="title">Follow Up</span>
            <article>
              Leads that require follow-up over the next few days
            </article>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a _ngcontent-ejg-c4="" [ngClass]='activeLiClass == "Errors" ? "active" : ""' (click)='handleTabClick("micrositeInitiated","","Errors")' class="nav-link" routerlink="edit" ng-reflect-router-link="user-brand">
          <img src="./assets/images/3.png">
          <div class="left_side">
            <span class="title">Errors</span>
            <article>
              Leads with property matches that need attention
            </article>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a _ngcontent-ejg-c4="" [ngClass]='activeLiClass == "Awaiting" ? "active" : ""' (click)='handleTabClick("micrositeEmailSent","","Awaiting")' class="nav-link" routerlink="edit" ng-reflect-router-link="user-brand">
          <img src="./assets/images/4.png">
          <div class="left_side">
            <span class="title">Awaiting</span>
            <article>
              Leads that have been sent a microsite
            </article>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a _ngcontent-ejg-c4="" [ngClass]='activeLiClass == "Closed" ? "active" : ""' (click)='handleTabClick("opportunityClosed","","Closed")' class="nav-link" routerlink="edit" ng-reflect-router-link="user-brand">
          <img src="./assets/images/5.png">
          <div class="left_side">
            <span class="title">Closed</span>
            <article>
              Previously engaged leads that have been closed
            </article>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a _ngcontent-ejg-c4="" [ngClass]='activeLiClass == "Reporting" ? "active" : ""' (click)='handleTabClick("new","__nin","Reporting")' class="nav-link" routerlink="edit" ng-reflect-router-link="user-brand">
          <img src="./assets/images/6.png">
              <div class="left_side">
                <span class="title">Reporting</span>
                <article>
                  Download contents that have completed the questionairre
                </article>
              </div>
            </a>
          </li>
  </ul>
      <a *ngIf="!isDownloadBtnShown" (click)="onBtnExport()" class="download_link">Download Latest Export for Reporting</a>
  <!--button class="btn btn-primary "   style="padding: 0.5em 1.2em;margin: 0;" (click)="onBtnExport()" [disabled]="isExportDisable" >Export CSV</button-->
</div>
  <br>
  <div *ngIf="isGridReady" style="height:556px;">
    <ag-grid-angular  #myGrid style="width: 100%; height: 100%" class="ag-theme-balham" [gridOptions]="gridOptions"
    [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" (cellClicked)="cellClicked($event)"></ag-grid-angular>
  </div>
  <div style="flex: 1 1 0; position: relative;" hidden>
    <div id="gridContainer">
      <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine"
        [defaultColDef]="defaultColDef" [suppressExcelExport]="true" [popupParent]="popupParent" [columnDefs]="columnDefs"
        [rowData]="rowData1" (gridReady)="onGridReady1($event)"></ag-grid-angular>
    </div>
  </div>

<button class="btn btn-primary btn-sm pull-right float-right" style="margin-top:20px;" (click) = "newListing()"><i class="glyphicon glyphicon-plus fa fa-plus"></i> New Contact</button>


